<link rel="stylesheet" href="css/home.css">

<main class="wrapper">
    <header class="menu">
        <%- include('../layouts/header') %>
    </header>

    <div class="container">
        <div class="sidebar">
            <%- include('../layouts/sidebar', {PageName: 'Home' }) %>
        </div>

        <div class="content">

        </div>
        <div class="menus">
            <h1>Your Order</h1>
            <div class="container_order"></div>
            <h4 class="total">Total <span class="totalPrice"></span></h4>

            <div class="btn">
                <button type="button" class="cancel">Cancel</button>
                <button type="button" class="saved">Save</button>
            </div>
        </div>
    </div>

</main>
<footer>
    <%- include('../layouts/footer', {PageName: 'Home' }) %>

</footer>

<script src="js/home.js"></script>