<link rel="stylesheet" href="css/login.css">


<div class="login">
    <main class="wrapper">
        <div class="errorMessage"></div>
        <form>
            <input type="text" name="username" placeholder="Username" class="username" required="required" />
            <input type="email" name="email" placeholder="Email" class="email" required="required" />
            <button type="button" class="submit">Log in</button>
        </form>
    </main>

</div>
<script src="js/login.js"></script>