<link rel="stylesheet" href="css/style.css">

<div class="">
    <a href="#" class="text-body-secondary">
        <%= PageName %>
    </a>
    <a href="#" class="text-body-secondary">Employees</a>
    <a href="#" class="text-body-secondary">FAQ</a>
    <p class="text-center text-body-secondary">© 2023, <%- user %></p>
</div>



