<link rel="stylesheet" href="css/style.css">

<div class="sidebar-panel">
    <ul>
        <li class="active">
            <a href="">
                <i class="bi bi-house-door"></i>
                <p> <%= PageName %> </p>
            </a>

        </li>
        <li>
            <a href="">
                <i class="bi bi-people"></i>
                <p>Employees</p>
            </a>
        </li>
        <li class="logout">
            <a href="">
                <i class="bi bi-box-arrow-left"></i>
               <p>Logout</p> 
            </a>
        </li>
    </ul>
</div>